<div fxLayoutAlign="center center" fxFlexFill class="Register">
    <mat-card fxFlex="25">
        <form fxLayoutAlign="stretch" fxLayout="column" class="register-form">
            <mat-toolbar>Register new account</mat-toolbar>
            <mat-form-field >
                <mat-form-field>
                    <mat-label>Name</mat-label> 
                       <input matInput type="text" placeholder="Enter Full name">
                  </mat-form-field>

                   <mat-form-field>
                <mat-label>Passsword</mat-label> 
                   <input matInput type="password" placeholder="password">
              </mat-form-field>
                 <mat-label>Username</mat-label> 
                 <input matInput placeholder="username">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Passsword</mat-label> 
                   <input matInput type="password" placeholder="password">
              </mat-form-field>

              <mat-form-field>
                <mat-label>email</mat-label> 
                <input matInput type="email" placeholder="email">
           </mat-form-field>
              <button mat-raised-button type="submit" class="Register">Register</button>

                  </form>
   </mat-card>
 </div>
